<div #mapa class="mapa-container"></div>

<div class="row">
    <div class="col-12">
        <label class="for-label"> 
            Zoom {{ zoomLevel | number: '2.0-2'}}
            - Lng,Lat: [ {{center[0] | number: '2.4-4' }}, {{center[1] | number: '2.4-4'}} ] 
        </label>
        <input [value]="zoomLevel" (input)="zoomCambio( zoomInput.value )" #zoomInput max="0" max="18" type="range" class="form-range" id="customRange1">
    </div>
    <div class="col-12">
        <button (click)="zoomOut()" class="btn btn-primary">-</button>
        <button (click)="zoomIn()" class="btn btn-primary float-end">+</button>
    </div>
</div>