<ul class="list-group">
    <li class="list-group-item list-group-item-info" (click)="agregarMarcador( )"> + agregar </li>
    <li *ngFor="let marcador of marcadores; let i = index" class="list-group-item" (click)="irMarcador( marcador.marker )" (dblclick)="borrarMarcadores( i  )" [ngStyle]="{
        'background-color': marcador.color
    }"> Marker {{ i+1 }}</li>
</ul>
<div #mapa class="mapa-container"></div>